
.form-container{
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0px 50px;
}

.button {
  background-color: #4CAF50;
  border: 0px solid green;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: fit-content;
  border-radius: 10px;
}

.button-Send {
  background-color: #008CBA;
}

/* Blue */

.button-Reset {
  background-color: #f44336;
}

/* Red */

.button3 {
  background-color: #e7e7e7;
  color: black;
}

/* Gray */

.button-Next {
  background-color: #555555;
}

.error-messages{
  color: red;
}

.buttons-div{
  display: flex;
  justify-content: space-evenly;
}