.form-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0px 50px;
}

.button-div-upload {
  display: flex;
  margin: 20px 0px 10px;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: fit-content;
  border-radius: 10px;
}

button:disabled, button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

.button-Send {
  background-color: #008CBA;
}

/* Blue */

.button-Reset {
  background-color: #f44336;
}

/* Red */

.button3 {
  background-color: #e7e7e7;
  color: black;
}

/* Gray */

.button-Next {
  background-color: #555555;
}

.button-selectFile {
  background-color: #97ffe7;
  color: black;
}

.error-messages {
  color: red;
}

.buttons-div {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 10px 0px;
}

.inputs-div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.input-div {
  display: flex;
  justify-content: space-between;
  padding: 3px 0px;
}

.input {
  width: 60%;
}

.dropdown-menu-item {
  font-size: large;
  padding: 0px 5px;
  margin: 0px 5px;
  width: 110%;
  color: black;
}

.dropdown-menu-item:hover {
  font-size: large;
  padding: 0px 5px;
  color: lightblue;
}

.hr {
  width: 98%;
}

.icon-span {
  padding: 0px 5px 0px 5px;
  margin: 0px 0px 0px 0px;
  background-color: Transparent;
  border: none;
  font-size: 22px;
}

.fa-bell:hover, .fa-atom:hover {
  color: rgb(38, 120, 201);
  transition-duration: 0.3s;
}

/* .icon-span:hover .dropdown-menu{
  display: flex;
} */

.dropdown-menu-parent {
  position: relative;
}

.dropdown-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px 5px 5px 5px;
  right: 0%;
  width: fit-content;
  min-width: 100px;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.1s;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-menu-parent:focus .dropdown-menu, .dropdown-menu-parent:focus-within .dropdown-menu, .dropdown-menu-parent:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(10px);
  transition-delay: 0s, 0s, 0.5s;
  /* this removes the transition delay so the menu will be visible while the other styles transition */
}

/* https://stackoverflow.com/questions/17107123/add-tip-to-twitter-bootstraps-dropdown-menu */

.dropdown-menu:before {
  position: absolute;
  top: -10px;
  right: 14px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  content: '';
  z-index: 1;
}

.dropdown-menu:after {
  position: absolute;
  top: -9px;
  right: 15px;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
  border-left: 9px solid transparent;
  content: '';
  z-index: 1;
}

.notification-badge {
  position: relative;
  top: -10px;
  right: 15px;
  padding: 0px 4px;
  border-radius: 50%;
  border: none;
  background: red;
  color: white;
  font-size: small;
}

/* The Modal (background) */

.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 5;
  /* Sit on top */
  padding-top: 10px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(100, 100, 100, 0.7);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin-top: 25vh;
  padding: 15px;
  border: 1px solid rgb(220 220 220);
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 400px;
  margin-left: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-content-center-items {
  align-items: center;
}

.modal-content h3 {
  font-size: x-large;
  padding: 0px;
}

#modal-form {
  margin-top: -5px;
  display: flex;
  flex-direction: column;
}

#inputName {
  align-self: center;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 2px;
}

#inputName:hover {
  border: 1px solid rgb(190, 190, 190);
}

#inputName:focus {
  outline: none;
  border: 1px solid rgb(50, 149, 255);
  border-radius: 2px;
}

.github-a {
  margin: 0 0px;
  padding: 5px;
  color: black;
  /* background-color: white; */
  /* text-decoration: none; */
  /* border: none; */
  width: 130px;
  font-size: 14px;
}

.github-a.active {
  color: white;
  background-color: black;
}

h3 {
  padding: 5px;
  margin: 5px;
}

.preview-image {
  max-width: 200px;
  max-height: auto;
  padding: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.hide-scollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.hide-scollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.slides {
  display: none;
  width: 100%;
  object-fit: fill;
  object-position: center;
}

.home-banner-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  height: 500px;
  overflow: hidden;
  margin: 40px;
}