.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.spot-media-display{
  display: flex;
  width: 90%;
}
.media-display{
  width: 400px;
  height: 300px;
}