/* TODO Add site wide styles */
nav a {
  margin: 0 10px;
  padding: 5px;
  color: black;
  background-color: white;
  border-radius: 8px;
  border: 3px solid gray;
  text-decoration: none;
}

nav a.active {
  color: white;
  background-color: black;
}

nav {
  background-color: lightblue;
  height: fit-content;
  padding: 0px;
  margin: 0px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hidden-element{
  display: none;
}
.hidden{
  display: none
}

.shown{
  display: flex;
}
.dropdown-menu-item{
  font-size: large;
  padding: 0px 10px;
}

.dropdown-menu-item:hover{
  font-size: large;
  padding: 0px 10px;
  color: lightblue;
}
.hr{
  width: 100%;
}
.icon-span{
  width: 30px;
  height: 30px;
  /* transform: translate(0, 5px); */
  padding: 10px 30px 10px 10px;
  margin: 0px 0px;
  background-color: Transparent;
  /* background-repeat:no-repeat; */
  border: none;
  /* cursor:pointer;
  overflow: hidden;
  outline:none;   */
}
/* .icon-span:hover .dropdown-menu{
  display: flex;
} */

.dropdown-menu-parent { position: relative; }

/* .dropdown-menu{
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  border: 1px solid black;
  border: none;
  border-radius: 0px 0px 10px 10px;
  width: fit-content;
  transform: translate(-80%, 10px);
  position: fixed;
} */
.dropdown-menu { 
  visibility: hidden; /* hides dropdown-menu */
  opacity: 0;
  position: absolute;
  /* border: 1px solid black; */
  border-radius: 0px 0px 5px 5px;  
  /* top: 100%; */
  right: 0%;
  width: fit-content;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  background-color: lightgray;
}

.dropdown-menu-parent:focus .dropdown-menu,
.dropdown-menu-parent:focus-within .dropdown-menu,
.dropdown-menu-parent:hover .dropdown-menu {
  visibility: visible; /* shows dropdown-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(3px);
  transition-delay: 0s, 0s, 0.5s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}