.myhome-main-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myhome-main-div::after {
  content: "";
  background-image: url(https://www.pngkey.com/png/full/137-1379429_under-construction-work-in-progress.png);
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

.myspots-div {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  /* max-width: 940px; */
  /* width: 90%; */
  /* align-items: center; */
  /* width: 100%; */
  width: 45%;
  height: 90vh;
  margin-bottom: 30px;
  margin-top: 90px;
  /* margin: 0px; */
  padding: 0px;
  /* background-color: rgba(144, 238, 144, 0.24); */
  /* border: 1px solid rgb(129, 185, 129); */
  border-radius: 10px;
  overflow: scroll;
  background-color: rgb(243, 242, 239, 0.2);
  resize: horizontal;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */  
  z-index: 1;
}
.myspots-div::-webkit-scrollbar {
  display: none;
}

.myhome-booking-div {
  width: 60%;
  margin-bottom: 30px;
  margin-top: 60px;
  background-color: rgba(211, 211, 211, 0.301);
  min-height: 90vh;
  height: 90vh;
  border: 1px solid rgba(182, 182, 182, 0.349);
  border-radius: 10px;
  padding: 20px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */  
  z-index: 1;
}
.myhome-booking-div::-webkit-scrollbar {
  display: none;
}

.myhome-side-info {
  display: flex;
  width: 55%;
}

.myhome-people-div {
  width: 40%;
  margin-bottom: 30px;
  margin-top: 60px;
  background-color: rgba(151, 197, 162, 0.301);
  min-height: 90vh;
  height: 90vh;
  border: 1px solid rgba(182, 182, 182, 0.349);
  border-radius: 10px;
  padding: 20px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */    
  z-index: 1;
}
.myhome-people-div::-webkit-scrollbar {
  display: none;
}

.myhome-profile-div {
  width: 40%;
  margin-bottom: 30px;
  margin-top: 60px;
  background-color: rgba(142, 199, 194, 0.301);
  min-height: 90vh;
  height: 90vh;
  border: 1px solid rgba(31, 59, 182, 0.349);
  border-radius: 10px;
  padding: 20px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */    
  z-index: 1;
}
.myhome-profile-div::-webkit-scrollbar {
  display: none;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.chat-box{
  max-width: 400px;
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid rgba(151, 197, 162, 1);
  border-radius: 10px;
  overflow-anchor: none;
  padding: 5px;
}
.anchor {
  /* allow the final child to be selected as an anchor node */
  overflow-anchor: auto;

  /* anchor nodes are required to have non-zero area */
  height: 1px;
}
.my-message{
  display: flex;
  justify-content: flex-end;
}

/* Message box starts here */
.single-message-container {
  clear: both;
  position: relative;
}

.single-message-container .arrow {
  width: 12px;
  height: 20px;
  overflow: hidden;
  position: relative;
  float: left;
  top: 6px;
  right: -1px;
}

.single-message-container .arrow .outer {
  width: 0;
  height: 0;
  border-right: 20px solid #000000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.single-message-container .arrow .inner {
  width: 0;
  height: 0;
  border-right: 20px solid #ffffff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 2px;
}

.single-message-container .message-body {
  float: left;
  width: 300px;
  height: auto;
  border: 1px solid #CCC;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 6px 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.single-message-container .message-body p {
  margin: 0;
}

.userprofile-pic{
  width: 180px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}
