.myhome-main-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myhome-main-div::after {
  content: "";
  background-image: url(https://www.pngkey.com/png/full/137-1379429_under-construction-work-in-progress.png);
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.myspots-div {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  /* max-width: 940px; */
  /* width: 90%; */
  /* align-items: center; */
  /* width: 100%; */
  width: 45%;
  height: 100vh;
  margin-bottom: 30px;
  margin-top: 20px;
  /* margin: 0px; */
  padding: 0px;
  /* background-color: rgba(144, 238, 144, 0.24); */
  border: 1px solid rgb(129, 185, 129);
  border-radius: 10px;
  overflow: scroll;
}

.myhome-booking-div {
  width: 60%;
  margin-bottom: 30px;
  margin-top: 20px;
  background-color: rgba(211, 211, 211, 0.301);
  min-height: 100vh;
  height: 100vh;
  border: 1px solid rgba(182, 182, 182, 0.349);
  border-radius: 10px;
  padding: 20px;
  overflow: scroll;
}

.myhome-side-info {
  display: flex;
  width: 55%;
}

.myhome-people-div {
  width: 40%;
  margin-bottom: 30px;
  margin-top: 20px;
  background-color: rgba(151, 197, 162, 0.301);
  min-height: 100vh;
  height: 100vh;
  border: 1px solid rgba(182, 182, 182, 0.349);
  border-radius: 10px;
  padding: 20px;
  overflow: scroll;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}