.logo-img {
  z-index: 100;
  position: sticky;
  margin-top: -4px;
  left: 0px;
  padding-bottom: 0px;
  margin-bottom: -4px;
  height: 70px;
}
.main-navbar{
  /* overflow: hidden; */
  /* background-color: #333; */
  position: fixed;
  top: 0;
  width: 100%;
  margin-right: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  /* z-index: 2; */
  font-size: 14px;
}